USE [Item Catalogue]
GO
/****** Object:  Table [dbo].[IC_BRAND]    Script Date: 08/12/2016 15:40:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IC_BRAND](
	[BRAND_ID] [int] NOT NULL,
	[BRAND_NAME] [varchar](100) NULL,
	[BRAND_DESC] [varchar](1000) NOT NULL,
 CONSTRAINT [PK_IC_BRAND] PRIMARY KEY CLUSTERED 
(
	[BRAND_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[IC_CATEGORY]    Script Date: 08/12/2016 15:40:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IC_CATEGORY](
	[CATEGORY_ID] [int] NOT NULL,
	[CATEGORY_NAME] [varchar](100) NULL,
	[CATEGORY_DESC] [varchar](1000) NOT NULL,
 CONSTRAINT [PK_Item Catalogue] PRIMARY KEY CLUSTERED 
(
	[CATEGORY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[IC_ITEM]    Script Date: 08/12/2016 15:40:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IC_ITEM](
	[ITEM_ID] [int] NOT NULL,
	[ITEM_NAME] [varchar](100) NULL,
	[ITEM_DESCRIPTION] [varchar](1000) NULL,
	[BRAND_ID] [int] NULL,
	[CATEGORY_ID] [int] NULL,
 CONSTRAINT [PK_IC_ITEM] PRIMARY KEY CLUSTERED 
(
	[ITEM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
