USE [master]
GO
/****** Object:  Database [Pricing Application]    Script Date: 08/12/2016 15:42:12 ******/
CREATE DATABASE [Pricing Application] ON  PRIMARY 
( NAME = N'Pricing Application', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQL2008\MSSQL\DATA\Pricing Application.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Pricing Application_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQL2008\MSSQL\DATA\Pricing Application_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Pricing Application].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Pricing Application]
GO
/****** Object:  Table [dbo].[PR_PRICE]    Script Date: 08/12/2016 15:42:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PR_PRICE](
	[ITEM_ID] [int] NOT NULL,
	[PRICE_DATE] [date] NULL,
	[PRICE_VALUE] [float] NULL,
 CONSTRAINT [PK_PR_PRICE] PRIMARY KEY CLUSTERED 
(
	[ITEM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
USE [master]
GO
